.container {
  text-align: center;
  color: #fff;
  height: 100vh;
}
.titleDiv {
  margin-top: 17%;
  position: fixed;
  left: 300px;
  z-index: 0;
}

.DivHide {
  display: none;
}
.title {
  font-size: 160px;
  margin: -50px 0;
  font-weight: lighter;
  font-family: Yasashii;
}
#h2_1 {
  padding-right: 150px;
}
#h2_2 {
  padding-left: 150px;
}
#h2_3 {
  padding-left: 100px;
}
#p_1 {
  padding-left: 700px;
}
.subTitle {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.fadeIn_left1 {
  animation: fadeIn_left1 700ms;
  -moz-animation: fadeIn_left1 700ms;
  -webkit-animation: fadeIn_left1 700ms;
  -o-animation: fadeIn_left1 700ms;
  animation-fill-mode: forwards;
}
.fadeOut_right1 {
  animation: fadeOut_right1 300ms;
  -moz-animation: fadeOut_right1 300ms;
  -webkit-animation: fadeOut_right1 300ms;
  -o-animation: fadeOut_right1 300ms;
  animation-fill-mode: forwards;
}
@keyframes fadeIn_left1 {
  from {
    transform: translate(0rem, 0px);
    opacity: 0;
  }
  to {
    transform: translate(1rem, 0px);
    opacity: 1;
  }
}
@keyframes fadeOut_right1 {
  from {
    transform: translate(1rem, 0px);
    opacity: 1;
  }
  to {
    transform: translate(-10rem, 0px);
    opacity: 0;
  }
}
.fadeIn_right2 {
  animation: fadeIn_right2 700ms;
  -moz-animation: fadeIn_right2 700ms;
  -webkit-animation: fadeIn_right2 700ms;
  -o-animation: fadeIn_right2 700ms;
  animation-fill-mode: forwards;
}
.fadeOut_right2 {
  animation: fadeOut_right2 300ms;
  -moz-animation: fadeOut_right2 300ms;
  -webkit-animation: fadeOut_right2 300ms;
  -o-animation: fadeOut_right2 300ms;
  animation-fill-mode: forwards;
}

@keyframes fadeIn_right2 {
  from {
    transform: translate(0rem, 0px);
    opacity: 0;
  }
  to {
    transform: translate(-20rem, 0px);
    opacity: 1;
  }
}
@keyframes fadeOut_right2 {
  from {
    transform: translate(-20rem, 0px);
    opacity: 1;
  }
  to {
    transform: translate(10rem, 0px);
    opacity: 0;
  }
}
.fadeIn_left3 {
  animation: fadeIn_left3 700ms;
  -moz-animation: fadeIn_left3 700ms;
  -webkit-animation: fadeIn_left3 700ms;
  -o-animation: fadeIn_left3 700ms;
  animation-fill-mode: forwards;
}
.fadeOut_left3 {
  animation: fadeOut_left3 300ms;
  -moz-animation: fadeOut_left3 300ms;
  -webkit-animation: fadeOut_left3 300ms;
  -o-animation: fadeOut_left3 300ms;
  animation-fill-mode: forwards;
}

@keyframes fadeIn_left3 {
  from {
    transform: translate(0rem, 0px);
    opacity: 0;
  }
  to {
    transform: translate(5rem, 0px);
    opacity: 1;
  }
}
@keyframes fadeOut_left3 {
  from {
    transform: translate(5rem, 0px);
    opacity: 1;
  }
  to {
    transform: translate(-10rem, 0px);
    opacity: 0;
  }
}
.fadeIn_left4 {
  animation: fadeIn_left4 700ms;
  -moz-animation: fadeIn_left4 700ms;
  -webkit-animation: fadeIn_left4 700ms;
  -o-animation: fadeIn_left4 700ms;
  animation-fill-mode: forwards;
}
.fadeOut_left4 {
  animation: fadeOut_left4 300ms;
  -moz-animation: fadeOut_left4 300ms;
  -webkit-animation: fadeOut_left4 300ms;
  -o-animation: fadeOut_left4 300ms;
  animation-fill-mode: forwards;
}

@keyframes fadeIn_left4 {
  from {
    transform: translate(0rem, 0px);
    opacity: 0;
  }
  to {
    transform: translate(15rem, 0px);
    opacity: 1;
    transition-delay: 2s;
  }
}
@keyframes fadeOut_left4 {
  from {
    transform: translate(15rem, 0px);
    opacity: 1;
  }
  to {
    transform: translate(-10rem, 0px);
    opacity: 0;
  }
}
.nav {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, auto));
  font-family: Exo2;
  z-index: 99999999;
  min-width: 100vw;
  max-width: 100vw;
}

.item:nth-child(1) {
  grid-column: 1;
}
.item:nth-child(2) {
  grid-column: 2;
}

.item:nth-child(3) {
  grid-column: 3;
}
.item {
  padding-top: 5px;
}
.click {
  font-size: 20px;
  float: left;
  margin: 0 10px;
  padding-left: 5px;
  padding-top: 15px;
}
.wrap {
  position: relative;
  width: 100%;
  max-width: 200px;
  height: 40px;
  margin-left: 200px;
  overflow-x: hidden;
  margin-top: 10px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.senterName {
  padding-bottom: 30px;
  line-height: 30%;
}
.senterName {
  padding: 0;
}
.roller {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(25%);
  }
  to {
    transform: translateX(-100%);
  }
}
.menuBtn_item {
  cursor: pointer;
  font-size: 20px;
  float: right;
  margin: 0 10px;
  background: none;
  border: none;
  color: #fff;
  font-family: Exo2;
  padding-right: 15px;
  padding-top: 15px;
}

.section1 {
  height: 100vh;
  overflow: hidden;
}
.section2 {
  height: 100vh;
  overflow: hidden;
  background-color: #3e9d89;
  font-family: NanumSquareRound;
}
.section3 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #00ff0000;
}
.section4 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #1e3d5c;
}
.footer {
  position: fixed;
  bottom: 0;
  padding: 30px 0;
}
.guide {
  position: fixed;
  right: 40px;
  bottom: 14px;
  margin: 0px;
  font-family: Exo2;
}
.arrow {
  position: absolute;
  animation: motion 0.7s linear 0s infinite alternate;
  right: -20px;
}
@keyframes motion {
  0% {
    bottom: 14px;
  }
  100% {
    bottom: 20px;
  }
}
.divHide {
  display: none;
}
.footer_item {
  margin-left: 30px;
  color: #fff;
  font-family: Exo2;
}
.footer_item:link {
  text-decoration: none;
}
.footer_item:hover {
  text-decoration: none;
}
.footer_item:visited {
  text-decoration: none;
  color: #fff;
}
.footer_item:active {
  text-decoration: none;
}
.gif {
  position: absolute;
  background-image: url("../img/20221205182338_Trim.gif");
  background-size: 500px;
  width: 500px;
  height: 335px;
  top: 1150px;
  right: 100px;
  animation-fill-mode: forwards;
  z-index: 3;
}
.gifStop {
  position: absolute;
  background-image: url("../img/airbnb.jpg");
  background-size: 500px;
  width: 500px;
  height: 335px;
  top: 1150px;
  right: 100px;
  box-shadow: 0px 0px 30px 10px black;
}
.gif_text {
  position: absolute;
  top: 1080px;
  right: 519px;
  font-size: 20px;
}
.hov_anim_box:hover .gif {
  animation: hoverGif 300ms;
  animation-fill-mode: forwards;
}
.hov_anim_box:not(:hover) .gif {
  animation: hoverGifStop 300ms;
  animation-fill-mode: forwards;
}
@keyframes hoverGif {
  0% {
    background-size: 500px;
    width: 500px;
    height: 280px;
    top: 1150px;
    opacity: 0;
  }
  100% {
    background-size: 800px;
    width: 800px;
    height: 450px;
    top: 1100px;
    right: 50px;
    opacity: 1;
  }
}
@keyframes hoverGifStop {
  0% {
    background-size: 800px;
    width: 800px;
    height: 450px;
    top: 1100px;
    right: 50px;
    opacity: 1;
  }
  100% {
    background-size: 500px;
    width: 500px;
    height: 280px;
    top: 1150px;
    opacity: 0;
  }
}
.hov_anim_box:hover .gifStop {
  animation: gifStopHover 300ms;
  animation-fill-mode: forwards;
}
.hov_anim_box:not(:hover) .gifStop {
  animation: gifStopHoverStop 300ms;
  animation-fill-mode: forwards;
}
@keyframes gifStopHover {
  0% {
    background-size: 500px;
    width: 500px;
    height: 280px;
    top: 1150px;
  }
  100% {
    background-size: 800px;
    width: 800px;
    height: 450px;
    top: 1100px;
    right: 50px;
  }
}
@keyframes gifStopHoverStop {
  0% {
    background-size: 800px;
    width: 800px;
    height: 450px;
    top: 1100px;
    right: 50px;
  }
  100% {
    background-size: 500px;
    width: 500px;
    height: 280px;
    top: 1150px;
  }
}

.left_div {
  text-align: left;
  position: absolute;
  top: 1020px;
  left: 100px;
}
.left_text h1 {
  font-weight: 700;
  font-size: 70px;
}
.left_text h3 {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 0px;
}
.left_text p {
  margin-top: 10px;
  margin-bottom: 50px;
  font-weight: 100;
  line-height: 1.7;
}
.gif2 {
  position: absolute;
  background-image: url("../img/20221206223545_Trim.gif");
  background-size: 500px;
  width: 500px;
  height: 335px;
  top: 1550px;
  right: 100px;
  animation-fill-mode: forwards;
  z-index: 3;
}
.gifStop2 {
  position: absolute;
  background-image: url("../img/airbnb2.jpg");
  background-size: 500px;
  width: 500px;
  height: 335px;
  top: 1550px;
  right: 100px;
  box-shadow: 0px 0px 30px 10px black;
}
.gif_text2 {
  position: absolute;
  top: 1480px;
  right: 440px;
  font-size: 20px;
}
.hov_anim_box2:hover .gif2 {
  animation: hoverGif2 300ms;
  animation-fill-mode: forwards;
}
.hov_anim_box2:not(:hover) .gif2 {
  animation: hoverGifStop2 300ms;
  animation-fill-mode: forwards;
}
@keyframes hoverGif2 {
  0% {
    background-size: 500px;
    width: 500px;
    height: 280px;
    top: 1550px;
    opacity: 0;
  }
  100% {
    background-size: 800px;
    width: 800px;
    height: 450px;
    top: 1450px;
    right: 50px;
    opacity: 1;
  }
}
@keyframes hoverGifStop2 {
  0% {
    background-size: 800px;
    width: 800px;
    height: 450px;
    top: 1450px;
    right: 50px;
    opacity: 1;
  }
  100% {
    background-size: 500px;
    width: 500px;
    height: 280px;
    top: 1550px;
    opacity: 0;
  }
}

.hov_anim_box2:hover .gifStop2 {
  animation: gifStopHover2 300ms;
  animation-fill-mode: forwards;
}
.hov_anim_box2:not(:hover) .gifStop2 {
  animation: gifStopHoverStop2 300ms;
  animation-fill-mode: forwards;
}
@keyframes gifStopHover2 {
  0% {
    background-size: 500px;
    width: 500px;
    height: 280px;
    top: 1550px;
  }
  100% {
    background-size: 800px;
    width: 800px;
    height: 450px;
    top: 1450px;
    right: 50px;
  }
}
@keyframes gifStopHoverStop2 {
  0% {
    background-size: 800px;
    width: 800px;
    height: 450px;
    top: 1450px;
    right: 50px;
  }
  100% {
    background-size: 500px;
    width: 500px;
    height: 280px;
    top: 1550px;
  }
}
.erd {
  position: absolute;
  background-image: url("../img/erd.jpg");
  background-size: 500px;
  width: 500px;
  height: 335px;
  top: 1150px;
  right: 700px;
  box-shadow: 0px 0px 30px 10px black;
}
.erd_text {
  position: absolute;
  top: 1080px;
  right: 1160px;
  font-size: 20px;
}
.hov_erd_box:hover .erd {
  animation: hoverErd 300ms;
  animation-fill-mode: forwards;
}
.hov_erd_box:not(:hover) .erd {
  animation: hoverErdStop 300ms;
  animation-fill-mode: forwards;
}
@keyframes hoverErd {
  0% {
    background-size: 500px;
    width: 500px;
    height: 280px;
    top: 1150px;
    z-index: 0;
  }
  100% {
    background-size: 800px;
    width: 800px;
    height: 450px;
    top: 1100px;
    right: 500px;
    z-index: 4;
  }
}
@keyframes hoverErdStop {
  0% {
    background-size: 800px;
    width: 800px;
    height: 450px;
    top: 1100px;
    right: 500px;
    z-index: 4;
  }
  100% {
    background-size: 500px;
    width: 500px;
    height: 280px;
    top: 1150px;
    z-index: 0;
  }
}

.map1 {
  position: absolute;
  background-image: url("../img/map1.jpg");
  background-size: 500px;
  width: 500px;
  height: 280px;
  top: 1550px;
  right: 700px;
  box-shadow: 0px 0px 30px 10px black;
  z-index: 2;
}
.map2 {
  position: absolute;
  background-image: url("../img/map2.jpg");
  background-size: 500px;
  width: 500px;
  height: 280px;
  top: 1550px;
  right: 700px;
  z-index: 1;
}
.map_text {
  position: absolute;
  top: 1480px;
  right: 1087px;
  font-size: 20px;
}
.hov_map_box:hover .map1 {
  animation: hoverMap1 300ms;
  animation-fill-mode: forwards;
}
.hov_map_box:not(:hover) .map1 {
  animation: hoverMapStop1 300ms;
  animation-fill-mode: forwards;
}
@keyframes hoverMap1 {
  0% {
    background-size: 500px;
    width: 500px;
    height: 280px;
    top: 1550px;
    z-index: 2;
  }
  100% {
    background-size: 650px;
    width: 650px;
    height: 350px;
    top: 1250px;
    right: 700px;
    z-index: 4;
  }
}
@keyframes hoverMapStop1 {
  0% {
    background-size: 650px;
    width: 650px;
    height: 350px;
    top: 1250px;
    right: 700px;
    z-index: 4;
  }
  100% {
    background-size: 500px;
    width: 500px;
    height: 280px;
    top: 1550px;
    z-index: 2;
  }
}
.hov_map_box:hover .map2 {
  animation: hoverMap2 300ms 300ms;
  animation-fill-mode: forwards;
}
.hov_map_box:not(:hover) .map2 {
  animation: hoverMapStop2 300ms;
  animation-fill-mode: forwards;
}
@keyframes hoverMap2 {
  0% {
    background-size: 500px;
    width: 500px;
    height: 280px;
    top: 1550px;
    z-index: 1;
  }
  100% {
    background-size: 650px;
    width: 650px;
    height: 350px;
    top: 1570px;
    right: 600px;
    z-index: 3;
    box-shadow: 0px 0px 30px 10px black;
  }
}
@keyframes hoverMapStop2 {
  0% {
    background-size: 650px;
    width: 650px;
    height: 350px;
    top: 1570px;
    right: 600px;
    z-index: 3;
    box-shadow: 0px 0px 30px 10px black;
  }
  100% {
    background-size: 500px;
    width: 500px;
    height: 280px;
    top: 1550px;
    z-index: 1;
  }
}
.change_btn {
  border: none;
  background-color: #00ff0000;
  color: #fff;
  font-size: 20px;
  width: 150px;
  height: 40px;
  z-index: 4;
  cursor: pointer;
}
.change_btn1 {
  position: sticky;
  border: none;
  background-color: #00ff0000;
  color: #3e9d89;
  font-size: 20px;
  width: 150px;
  height: 40px;
  z-index: 4;
  cursor: pointer;
}
.active_box {
  position: absolute;
  border: none;
  background-color: #fff;
  border-radius: 15px 0 0 15px;
  font-size: 20px;
  width: 150px;
  height: 40px;
  z-index: 0;
}
.switch_box {
  position: relative;
  background: transparent;
  top: -20px;
  left: 150px;
  width: 300px;
  height: 40px;
  margin-top: 30px;
  border: 1px solid white;
  border-radius: 15px;
}
.left {
  animation: switchLeft 500ms;
  animation-fill-mode: forwards;
}
.right {
  animation: switchRight 500ms;
  animation-fill-mode: forwards;
}
@keyframes switchLeft {
  0% {
    transform: translateX(150px);
    border-radius: 0 15px 15px 0;
  }
  100% {
    transform: translateX(0px);
    border-radius: 15px 0 0 15px;
  }
}
@keyframes switchRight {
  0% {
    transform: translateX(0px);
    border-radius: 15px 0 0 15px;
  }
  100% {
    transform: translateX(150px);
    border-radius: 0 15px 15px 0;
  }
}

.fadeIn_navSenter {
  animation: navSenter 500ms;
}
@keyframes navSenter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.skillsDiv {
  display: flex;
}
.img400 {
  height: 350px;
}
.img120 {
  height: 120px;
  margin: 5px 40px;
}
.img100 {
  height: 100px;
  margin: 10px 60px;
}
.skill_left {
  width: 40%;
  text-align: left;
  padding: 0 100px;
}
.skill_right {
  position: relative;
  text-align: center;
  width: 40%;
  padding-top: 100px;
}
.skill_left h1 {
  font-weight: 700;
  font-size: 70px;
}
.skill_left h3 {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 0px;
}
.skill_left p {
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 100;
  line-height: 1.7;
}
.skill_right {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 0px;
}
